* {
  font-family: 'Exo', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  background: #191919;
  scrollbar-width: thin;
  scrollbar-color: hsl(0, 0%, 15%) #191919;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #191919;
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 15%);
  border-radius: 20px;
  border: 3px solid #191919;
}
body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 25%);
}
.content {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.banner {
  width: 70%;
  height: 100vh;
  position: relative;
}
.banner-desktop {
  width: 100%;
  height: 100%;
}
.banner-desktop-images {
  width: 100%;
  height: 100%;
}
.banner-desktop-images > img:nth-child(1) {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.banner-desktop-images > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.nawigacja {
  width: 29.98%;
  position: absolute;
  top: 0;
  right: 0;
  user-select: none;
}
.desktop-nawigacja {
  position: fixed;
  height: 60px;
  width: 29.98%;
}
.desktop-icon-nawigacja {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  user-select: none;
}
.toggle-p-menu {
  text-align: center;
  color: #ff0000;
  margin-top: -10px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.toggle-p-menu.fade-out {
  opacity: 0;
}

.desktop-icon-nawigacja img {
  width: 100%;
  height: 100%;
}
.desktop-nawigacja-content {
  max-height: 0px;
  position: relative;
  overflow: hidden;
  background: #191919;
  margin-top: -60px;
  padding-top: 0px;
}
.desktop-icon-close {
  width: 100%;
  height: 60px;
  text-align: center;
  top: 0px;
  cursor: pointer;
}
.desktop-icon-close img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.desktop-nav-inside {
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  scrollbar-width: thin;
  scrollbar-color: hsl(0, 0%, 15%) #191919;
}

.desktop-nav-inside::-webkit-scrollbar {
  width: 12px;
}

.desktop-nav-inside::-webkit-scrollbar-track {
  background: #191919;
}

.desktop-nav-inside::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 15%);
  border-radius: 20px;
  border: 3px solid #191919;
}
.desktop-nav-inside::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 25%);
}
.desktop-nav-logo {
  position: relative;
  padding: 0px;
  text-align: center;
}
.desktop-nav-logo img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.mobile-nawigacja {
  display: none;
}
.desktop-nav-anchors {
  text-align: center;
  padding-bottom: 0px;
}
.desktop-nav-anchors a {
  display: block;
  text-decoration: none;
  font-size: 27px;
  color: hsla(0, 100%, 50%, 0.7);
  padding: 5px 0px;
  transition: color 0.3s ease-in-out;
}
.desktop-nav-anchors a:nth-child(1) {
  text-shadow: 0px 0px 10px black;
  color: hsl(0, 100%, 50%);
  opacity: 1;
}
.desktop-nav-anchors a:hover {
  color: hsla(0, 100%, 50%, 1);
}

.desktop-nav-contact {
  padding-bottom: 30px;
  display: block;
  text-align: center;
  z-index: 99;
  text-align: center;
}
.desktop-nav-contact p {
  display: block;
  color: #ff0000;
}
.desktop-nav-contact a {
  display: block;
  color: #ff0000;
  text-decoration: none;
}
.more-p {
  display: inline;
}
.more-p > p {
  display: inline;
  font-size: 15px;
  color: #ff0000;
}
.navigation-social a {
  display: inline-block;
  font-size: 20px;
}
.fifth-section-footer {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.all-content-footer {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
}
.footer-logo-container {
  width: 125px;
  height: 125px;
  margin: 0 auto;
  position: relative;
}
.footer-logo-container img {
  width: 100%;
  height: 100%;
}
.footer-socials {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
}
.footer-socials a {
  color: #b10000;
  text-decoration: none;
  font-size: 30px;
}
.footer-socials a i {
  font-size: 30px;
}
.footer-anchors {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.footer-anchor-container {
  width: 100%;
  text-align: center;
}
.footer-anchor-container a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.footer-anchor-container.active a {
  color: #b10000;
  text-decoration: underline;
}
.footer-rights {
  text-align: center;
  margin: 30px 0px;
  font-size: 12px;
  color: gray;
}
.footer-rights a {
  text-decoration: none;
  color: gray;
  transition: color 0.3s ease-in-out;
}
.footer-rights a:hover {
  color: hsl(0, 0%, 30%);
}
@media only screen and (max-width: 1200px) {
  .all-content-footer {
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
  }
}
@media only screen and (max-width: 800px) {
  .footer-anchors {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .footer-anchor-container {
    margin-top: 15px;
  }
  .footer-anchor-container:nth-child(1) {
    margin-top: 0px;
  }
  .footer-anchor-container a {
    font-size: 18px;
  }
  .banner {
    width: 100%;
  }
  .banner-desktop {
    display: none;
  }
  .desktop-nawigacja {
    display: none;
  }

  .banner-mobile {
    height: 100vh;
  }
  .banner-mobile-images {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .banner-img-mobile {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .banner-img-mobile:nth-child(1) {
    background: url('../img/baner1-s.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .banner-img-mobile:nth-child(2) {
    background: url('../img/baner2-s.jpg');
    opacity: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .banner-img-mobile:nth-child(3) {
    background: url('../img/baner3-s.jpg');
    opacity: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .nawigacja {
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .mobile-nawigacja {
    height: 100vh;
    right: -300px;
    position: fixed;
    width: 300px;
    background-color: #191919;
    display: inline-block;
  }
  .icon-nawigacja {
    width: 60px;
    height: 60px;
    margin-left: -60px;
    position: absolute;
  }
  .icon-nawigacja img {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
  }
  .icon-close img {
    width: 60px;
    height: 60px;
  }
  .mobile-nawigacja-content {
    overflow: scroll;
    height: 100vh;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile-nav-logo {
    padding-top: 70px;
    display: block;
    text-align: center;
    width: 100%;
  }
  .mobile-nav-logo img {
    width: 80px;
    height: 80px;
  }
  .mobile-nav-anchors {
    display: block;
    padding: 20px 0px;
  }
  .mobile-nav-anchors a {
    display: block;
    color: hsla(0, 100%, 50%, 0.7);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    transition: color 0.3s ease-in-out;
  }
  .mobile-nav-anchors a:nth-child(1) {
    text-shadow: 0px 0px 10px black;
    color: hsla(0, 100%, 50%, 1);
  }
  .mobile-nav-anchors a:hover {
    color: hsla(0, 100%, 50%, 1);
  }
  .mobile-nav-contact {
    padding-bottom: 30px;
    display: block;
    text-align: center;
  }
  .mobile-nav-contact p {
    display: block;
    color: #ff0000;
  }
  .mobile-nav-contact a {
    display: block;
    color: #ff0000;
    text-decoration: none;
  }
  .more-p {
    display: inline;
  }
  .more-p > p {
    display: inline;
    font-size: 15px;
    color: #ff0000;
  }
  .navigation-social a {
    display: inline-block;
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .footer-socials {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .banner-img-mobile:nth-child(1) {
    background: url('../img/baner1-s.jpg');
    background-repeat: no-repeat;
    background-size: 150% 100%;
    background-position: -30px;
  }
  .banner-img-mobile:nth-child(2) {
    background: url('../img/baner2-s.jpg');
    background-repeat: no-repeat;
    background-size: 160% 100%;
    background-position: -110px;
  }
  .banner-img-mobile:nth-child(3) {
    background: url('../img/baner3-s.jpg');
    background-repeat: no-repeat;
    background-size: 150% 100%;
    background-position: -190px;
  }
}
@media only screen and (max-width: 400px) {
  .banner-img-mobile:nth-child(1) {
    background: url('../img/baner1-s.jpg');
    background-repeat: no-repeat;
    background-size: 150% 100%;
    background-position: -30px;
  }
  .banner-img-mobile:nth-child(2) {
    background: url('../img/baner2-s.jpg');
    background-repeat: no-repeat;
    background-size: 160% 100%;
    background-position: -110px;
  }
  .banner-img-mobile:nth-child(3) {
    background: url('../img/baner3-s.jpg');
    background-repeat: no-repeat;
    background-size: 150% 100%;
    background-position: -110px;
  }
}
